@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  margin: 0px;
  padding: 0px;
  background: #05101c;
  color: white;
  font-family: "Roboto Slab", serif;
}

.nav-link {
  font-weight: 600;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 20px;
  text-transform: uppercase;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}
/* Got these by inspect element  */
.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}
